/* stylelint-disable */
/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `block-borderlate` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
block-borderlate {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't atblock-bordert to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Roboto Light"), local("Roboto-Light"), url("../fonts/roboto-v19-cyrillic_latin-300.woff2") format("woff2"), url("../fonts/roboto-v19-cyrillic_latin-300.woff") format("woff"); }

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto-v19-cyrillic_latin-regular.woff2") format("woff2"), url("../fonts/roboto-v19-cyrillic_latin-regular.woff") format("woff"); }

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/roboto-v19-cyrillic_latin-700.woff2") format("woff2"), url("../fonts/roboto-v19-cyrillic_latin-700.woff") format("woff"); }

html {
  min-height: 100%;
  margin: 0;
  padding: 0; }

body {
  min-height: 100%;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  color: #3b3838; }

.back {
  border: 0;
  background-color: transparent;
  cursor: pointer; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px); }
  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px); }
  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px); }
  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px); }
  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

.header {
  height: 100vh;
  background: url(../img/main-img.png) no-repeat;
  background-position: 0 0;
  background-size: 100%;
  padding-bottom: 15%; }
  .header__logo a {
    text-decoration: none;
    color: #ff6a6d;
    font-weight: 700;
    font-size: 32px; }
  .header__wrapper {
    width: 75%;
    margin: 0 auto; }

.btn {
  border: 2px solid #ff6a6d;
  border-radius: 50px;
  color: #ff6a6d;
  background-color: transparent;
  cursor: pointer;
  transition: all .2s;
  padding: 7px 40px; }
  .btn:hover {
    background-color: #ff6a6d;
    box-shadow: 0 0 10rem 0.2rem rgba(0, 0, 0, 0.23);
    color: white;
    -webkit-transform: scale(1.07);
            transform: scale(1.07); }

.btn-blog {
  border: none;
  background: transparent;
  color: #3cbef1;
  cursor: pointer;
  padding: 3% 5%; }

.intro {
  margin-top: 6%;
  padding: 0 12%;
  max-width: 43%; }
  .intro__text {
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 40px;
    color: #000;
    padding-bottom: 3%; }
  .intro__service {
    margin-right: 2%;
    padding: 15px 45px; }
  .intro__signup {
    padding: 15px 45px; }

h1 {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px; }

.features {
  margin-bottom: 15%; }
  .features__heading {
    margin-bottom: 4%; }
  .features__description {
    color: rgba(0, 0, 0, 0.651);
    text-align: center;
    display: block;
    max-width: 50%;
    line-height: 4rem;
    margin: 0 auto;
    margin-bottom: 10%; }
  .features__items {
    display: flex;
    justify-content: space-around; }
  .features__item {
    max-width: 30%;
    text-align: center; }

.item__image {
  max-width: 60%;
  margin-bottom: 5%; }

.item__description {
  line-height: 2.7rem; }

.item__heading {
  margin-bottom: 7%; }

.container {
  width: 75%;
  margin: 0 auto; }

.heading--2 {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  text-align: center; }

.heading--3 {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  font-size: 25px;
  line-height: 30px; }

.primary-text {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 40px;
  color: #000;
  line-height: 27px; }

.about-us {
  position: relative;
  background: url(../img/about-us.png) no-repeat;
  background-position: 17% 15%;
  background-size: 40%;
  padding-top: 0;
  margin-bottom: 10%; }
  .about-us__heading {
    margin-bottom: 7%; }
  .about-us__wrapper {
    display: flex;
    justify-content: flex-end;
    padding-right: 12%; }
  .about-us__content {
    flex-basis: 50%; }
  .about-us__list {
    list-style-image: url(../img/marker-1.png);
    padding-left: 12%; }
  .about-us__item {
    padding-left: 2rem;
    margin-bottom: 4%; }

.decoration {
  position: absolute; }
  .decoration-img-1 {
    left: 0;
    top: 10rem; }
  .decoration-img-2 {
    right: 0;
    top: -15rem; }
  .decoration-img-3 {
    left: 0;
    bottom: -20rem; }
  .decoration-img-4 {
    right: 0;
    bottom: -40rem; }
  .decoration-img-5 {
    right: 0;
    bottom: -50rem; }

.first-blog {
  position: relative;
  background: url(../img/the-healing.png) no-repeat;
  background-position: 85% 20%;
  background-size: 30%;
  padding-top: 10%;
  margin-bottom: 20%; }
  .first-blog__wrapper {
    max-width: 50%;
    padding-left: 4%; }
  .first-blog__heading {
    text-align: left;
    margin-bottom: 6%; }
  .first-blog__text-wrapper {
    padding-left: 5%;
    padding-right: 15%; }
  .first-blog__text {
    margin-bottom: 10%; }

.second-blog {
  background: url(../img/blog.png) no-repeat;
  background-position: 10% 20%;
  background-size: 35%;
  margin-bottom: 10%; }
  .second-blog__wrapper {
    padding-left: 15%;
    display: flex;
    justify-content: flex-end; }
  .second-blog__content {
    max-width: 50%;
    padding-right: 4%; }
  .second-blog__heading {
    text-align: left;
    margin-bottom: 6%; }
  .second-blog__text-wrapper {
    padding-left: 10%; }
  .second-blog__text {
    text-indent: 4rem; }
    .second-blog__text--2 {
      text-indent: 4rem;
      margin-bottom: 4%; }

.footer {
  background: url(../img/footer-back.png) no-repeat;
  background-size: cover;
  background-position: 50% 0;
  padding-top: 5%; }
  .footer__deals {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20%; }
  .footer__nav {
    background: rgba(255, 255, 255, 0.5);
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    padding: 5% 10% 2% 10%; }
  .footer__copyright {
    text-align: center;
    color: #2e2e2e; }

.deal__item {
  background-color: white;
  padding: 3% 2.5%;
  border-radius: 20px;
  box-shadow: 0 40px 120px 5px rgba(0, 0, 0, 0.329);
  position: relative;
  overflow: hidden; }
  .deal__item--back {
    z-index: 0;
    min-width: 25%; }
    .deal__item--back .deal__term {
      background-image: url(../img/marker-blue.png);
      background-repeat: no-repeat;
      background-position: 0 .5%; }
  .deal__item--main {
    z-index: 1;
    min-width: 32%;
    padding-top: 0; }
    .deal__item--main .deal__list {
      margin-bottom: 9%; }
    .deal__item--main .deal__term {
      background-image: url(../img/marker-red.png);
      background-repeat: no-repeat;
      background-position: 0 .5%; }

.deal__heading {
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  color: white;
  background: #ff6a6d;
  margin: 4.8% -8.5%;
  margin-top: 0;
  padding: 4% 0;
  text-transform: uppercase; }
  .deal__heading--right {
    color: #494949;
    background: none;
    margin: 0;
    padding: 0;
    margin-bottom: 6%;
    text-transform: none; }

.deal__list {
  list-style: none;
  padding-left: 0; }
  .deal__list-left {
    margin-bottom: 7%; }
  .deal__list-right {
    margin-bottom: 5%; }

.deal__term {
  color: #3b3838;
  padding-bottom: 3%;
  padding-left: 45px;
  margin-bottom: 2.6%; }

.deal__price {
  position: relative;
  text-align: center;
  color: #3b3838; }
  .deal__price-content--main {
    display: block;
    margin-right: 4%; }

.deal__value {
  font-size: 100px; }

.deal__sign {
  font-size: 50px;
  position: absolute;
  top: 5%; }
  .deal__sign--left {
    left: 15%; }
  .deal__sign--main {
    left: 10%; }
  .deal__sign--right {
    left: 15%; }

.deal__period {
  font-size: 3rem;
  margin-left: -1.5%; }
  .deal__period--left {
    position: absolute;
    bottom: 5%;
    right: 5%; }
  .deal__period--main {
    position: absolute;
    bottom: 5%;
    right: 3%; }
  .deal__period--right {
    position: absolute;
    bottom: 5%;
    right: 8%; }

.deal__btn-wrapper {
  text-align: center;
  margin-top: 6%; }

.deal__btn {
  border: none;
  border-radius: 50px;
  padding: 4% 15%;
  background: transparent;
  cursor: pointer;
  transition: all .5s;
  color: white; }
  .deal__btn:hover {
    box-shadow: 0 1.5rem 3rem 2px rgba(0, 0, 0, 0.158); }
  .deal__btn--left {
    background: linear-gradient(to top right, #5fcef5, #95e8fd); }
    .deal__btn--left:hover {
      background: linear-gradient(to top left, #5fcef5, #95e8fd); }
  .deal__btn--main {
    background: linear-gradient(to top right, #ff6a6d, #fd90a7); }
    .deal__btn--main:hover {
      background: linear-gradient(to top left, #ff6a6d, #fd90a7); }
  .deal__btn--right {
    background: linear-gradient(to top right, #21acdd, #9ddae9); }
    .deal__btn--right:hover {
      background: linear-gradient(to top left, #21acdd, #9ddae9); }

.nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 9%; }
  .nav__block {
    flex-basis: 20%;
    color: #2e2e2e; }
  .nav__contacts {
    font-style: normal; }
  .nav__address {
    margin-bottom: 4%;
    line-height: 3rem; }
  .nav__link:link, .nav__link:visited {
    text-decoration: none;
    display: block;
    color: #2e2e2e; }
  .nav__link:not(:last-child) {
    margin-bottom: .8%; }
  .nav__heading {
    color: #2e2e2e;
    font-weight: 700;
    margin-bottom: 5%; }
  .nav__list {
    list-style: none;
    padding: 0; }
  .nav__item {
    font-size: 18px;
    margin-bottom: 2.2%; }
  @media (min-width: 768px) {
  .header-wrapper {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: 0 auto;
    padding-top: 3%; }
  .header__logo {
    width: 45%; }
  .overlay {
    width: 70%; }
  .main-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between; }
    .main-menu a {
      text-decoration: none;
      color: #3b3838; }
    .main-menu .btn {
      color: #ff6a6d; }
      .main-menu .btn:hover {
        color: white; }
    .main-menu .active {
      color: #ff6a6d; } }
  @media (max-width: 767px) {
  .header__logo {
    padding-top: 5%;
    padding-left: 12%; }
  .navBurger {
    position: fixed;
    right: 7%;
    top: 7%;
    cursor: pointer;
    background: #ff6a6d;
    box-sizing: border-box;
    background-clip: content-box;
    width: 30px;
    height: 24px;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    transition: all 0.25s ease-in-out; }
    .navBurger:before, .navBurger:after {
      content: "";
      position: absolute;
      background: #ff6a6d;
      height: 2px;
      width: 100%;
      right: 0;
      will-change: rotate;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      transition: all 0.5s ease; }
    .navBurger:before {
      top: -10px; }
    .navBurger:after {
      bottom: -10px; }
    .navBurger.active {
      background: transparent;
      background-clip: content-box;
      z-index: 7; }
    .navBurger.active:before {
      -webkit-transform: rotate(135deg);
              transform: rotate(135deg);
      top: 0;
      background: #eee;
      width: 110%; }
    .navBurger.active:after {
      bottom: 0;
      -webkit-transform: rotate(-135deg);
              transform: rotate(-135deg);
      background: #eee;
      width: 110%; }
  .overlay {
    position: fixed;
    background: #0084ca;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transform-origin: right top;
            transform-origin: right top;
    -webkit-transform: scale(0);
            transform: scale(0);
    visibility: hidden;
    transition: all 0.4s ease-in-out;
    overflow: hidden; }
    .overlay.open {
      opacity: 0.99;
      visibility: visible;
      -webkit-transform: scale(1);
              transform: scale(1);
      z-index: 5; }
      .overlay.open li {
        display: block;
        -webkit-animation: fadeInRight 0.4s cubic-bezier(0.42, 0.83, 0.7, 1.5) forwards;
                animation: fadeInRight 0.4s cubic-bezier(0.42, 0.83, 0.7, 1.5) forwards;
        -webkit-animation-delay: 0.4s;
                animation-delay: 0.4s;
        -webkit-transform: rotate(-7deg);
                transform: rotate(-7deg);
        -webkit-transform-origin: right bottom;
                transform-origin: right bottom; }
        .overlay.open li:nth-of-type(2) {
          -webkit-animation-delay: 0.5s;
                  animation-delay: 0.5s; }
        .overlay.open li:nth-of-type(3) {
          -webkit-animation-delay: 0.6s;
                  animation-delay: 0.6s; }
        .overlay.open li:nth-of-type(4) {
          -webkit-animation-delay: 0.7s;
                  animation-delay: 0.7s; }
        .overlay.open li:nth-of-type(5) {
          -webkit-animation-delay: 0.8s;
                  animation-delay: 0.8s; }
  .overlayMenu {
    position: absolute;
    text-align: right;
    right: 10vw;
    bottom: 10vw; }
    .overlayMenu ul {
      list-style: none;
      padding: 0;
      margin: 0 auto;
      display: block;
      position: relative;
      height: 100%; }
      .overlayMenu ul li {
        display: block;
        position: relative;
        opacity: 0;
        width: 100%; }
        .overlayMenu ul li a {
          display: inline-block;
          border: 1px solid rgba(255, 255, 255, 0.09);
          color: #fff;
          text-decoration: none;
          font-size: 30px;
          padding: 10px 40px 10px 40px;
          margin: 5px 0;
          transition: 0.2s; }
          .overlayMenu ul li a:hover, .overlayMenu ul li a:active, .overlayMenu ul li a:focus {
            -webkit-transform: translateX(-2px);
                    transform: translateX(-2px);
            padding-left: 80px;
            outline: 1px solid rgba(255, 255, 255, 0.3);
            background: rgba(255, 255, 255, 0.03); }
  .locked {
    overflow: hidden; }
  @-webkit-keyframes fadeInRight {
    0% {
      opacity: 0;
      left: 50px; }
    100% {
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg); } }
  @keyframes fadeInRight {
    0% {
      opacity: 0;
      left: 50px; }
    100% {
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg); } }
  .intro {
    max-width: 75%;
    margin-top: 10%; }
    .intro__service {
      margin-bottom: 5%; }
  h1 {
    font-size: 35px; }
  .features__items {
    flex-direction: column;
    align-items: center; }
  .features__item {
    max-width: 100%; }
    .features__item:not(:last-child) {
      margin-bottom: 5rem; }
  .features__description {
    max-width: 75%; } }
  @media (max-width: 1120px) {
  .header {
    background-position: 80% 0;
    background-size: cover; } }
  @media (max-width: 1300px) {
  .header {
    padding-bottom: 32rem; } }
  @media (max-width: 1200px) {
  .about-us {
    background-position: 7% 40%; }
  .about-us__content {
    flex-basis: 50%; }
  .about-us__wrapper {
    padding-right: 12rem; }
  .first-blog__wrapper {
    max-width: 70%; }
  .second-blog {
    background-position: 80% 20%;
    background-size: 50%; }
  .second-blog__wrapper {
    max-width: 70%;
    padding-left: 0; }
  .second-blog__content {
    max-width: 100%; }
  .deal__list {
    font-size: 14px; }
  .deal__sign {
    font-size: 40px;
    top: 10%; }
  .deal__value {
    font-size: 55px; } }
  @media (max-width: 768px) {
  .about-us {
    background-position: 50% 50%;
    background-size: 90%; }
  .about-us__content {
    flex-basis: 100%; }
  .about-us__wrapper {
    padding-right: 0;
    justify-content: left; }
  .about-us__list {
    padding-left: 2%; }
  .decoration {
    display: none; }
  .first-blog {
    background-size: 50%; }
  .first-blog__wrapper {
    max-width: 100%; }
  .first-blog__heading {
    font-size: 35px; }
  .second-blog {
    background-position: 80% 0;
    background-size: 50%; }
  .second-blog__wrapper {
    max-width: 100%; }
  .second-blog__heading {
    font-size: 35px; }
  .deal__list {
    font-size: 14px; }
  .deal__item--main {
    position: absolute; }
  .deal__item--back:hover, .deal__item--main:hover {
    z-index: 2; }
  .deal__list .deal__term {
    background-image: none;
    padding-left: 10%; }
  .deal__sign {
    font-size: 24px;
    top: 10%; }
  .deal__price-sub-text {
    font-size: 15px; }
  .deal__btn {
    font-size: 15px; }
  .footer__nav {
    padding: 5% 3% .5% 9%;
    font-size: 14px; }
  .nav {
    flex-wrap: wrap; }
    .nav__block {
      flex-basis: 50%; }
    .nav__address {
      line-height: 22px; }
    .nav__item {
      font-size: 14px;
      margin-bottom: 0;
      line-height: 27px; } }
  @media (max-width: 2560px) {
  .first-blog {
    background-size: 27%; }
  .second-blog {
    background-size: 27%; }
  .about-us {
    background-size: 27%; } }
  @media (max-width: 460px) {
  .nav__block {
    flex-basis: 100%; } }
