.footer {
    background: url(../img/footer-back.png) no-repeat;
    background-size: cover;
    background-position: 50% 0;
    padding-top: 5%;

    &__deals {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20%;
    }

    &__nav {
        background: rgba(255, 255, 255, 0.5);
        border-top-left-radius: 100px;
        border-top-right-radius: 100px;
        padding: 5% 10% 2% 10%;
    }

    &__copyright {
        text-align: center;
        color: #2e2e2e;
    }
}

.deal {
    &__item {
        background-color: white;
        padding: 3% 2.5%;
        border-radius: 20px;
        box-shadow: 0 40px 120px 5px rgba(0, 0, 0, 0.329);
        position: relative;
        overflow: hidden;

        &--back {
            z-index: 0;
            min-width: 25%; 

            .deal__term {
                background-image: url(../img/marker-blue.png);
                background-repeat: no-repeat;
                background-position: 0 .5%;
            }
        }

        &--main {
            z-index: 1;
            min-width: 32%;
            padding-top: 0;

            .deal__list {
                margin-bottom: 9%;
            }

            .deal__term {
                background-image: url(../img/marker-red.png);
                background-repeat: no-repeat;
                background-position: 0 .5%;
            }
        }
    }

    &__heading {
        font-size: 25px;
        font-weight: 400;
        text-align: center;
        color: white;
        background: #ff6a6d;
        margin: 4.8% -8.5%;
        margin-top: 0;
        padding: 4% 0;
        text-transform: uppercase;

        &--right {
            color: #494949;
            background: none;
            margin: 0;
            padding: 0;
            margin-bottom: 6%;
            text-transform: none;
        }
    }

    &__list {
        list-style: none;
        padding-left: 0;

        &-left {
            margin-bottom: 7%;
        }

        &-right {
            margin-bottom: 5%;
        }
    }

    &__term {
        color: #3b3838;
        padding-bottom: 3%;
        padding-left: 45px;
        margin-bottom: 2.6%;
    }

    &__price {
        position: relative;
        text-align: center;
        color: #3b3838;

        &-content--main {
            display: block;
            margin-right: 4%;
        }
    }

    &__value {
        font-size: 100px;
    }

    &__sign {
        font-size: 50px;
        position: absolute;
        top: 5%;
        &--left {
            left: 15%;
        }

        &--main {
            left: 10%;
        }

        &--right {
            left: 15%;
        }
    }

    &__period {
        font-size: 3rem;
        margin-left: -1.5%;

        &--left {
            position: absolute;
            bottom: 5%;
            right: 5%;
        }

        &--main {
            position: absolute;
            bottom: 5%;
            right: 3%;
        }

        &--right {
            position: absolute;
            bottom: 5%;
            right: 8%;
        }
    }

    &__btn-wrapper {
        text-align: center;
        margin-top: 6%;
    }

    &__btn {
        border: none;
        border-radius: 50px;
        padding: 4% 15%;
        background: transparent;
        cursor: pointer;
        transition: all .5s;
        color: white;

        &:hover {
            box-shadow: 0 1.5rem 3rem 2px rgba(0, 0, 0, 0.158);
        }

        &--left {
            background: linear-gradient(to top right, #5fcef5, #95e8fd);
            &:hover {
                background: linear-gradient(to top left, #5fcef5, #95e8fd);
            }
        }

        &--main {
            background: linear-gradient(to top right, #ff6a6d, #fd90a7);
            &:hover {
                background: linear-gradient(to top left, #ff6a6d, #fd90a7);
            }
        }

        &--right {
            background: linear-gradient(to top right, #21acdd, #9ddae9);
            &:hover {
                background: linear-gradient(to top left, #21acdd, #9ddae9);
            }
        }
    }
}

.nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 9%;

    &__block {
        flex-basis: 20%;
        color: #2e2e2e;
    }

    &__contacts {
        font-style: normal;
    }

    &__address {
        margin-bottom: 4%;
        line-height: 3rem;
    }

    &__link {
        &:link,
        &:visited {
            text-decoration: none;
            display: block;
            color: #2e2e2e;
        }

        &:not(:last-child) {
            margin-bottom: .8%;
        }
    }

    &__heading {
        color: #2e2e2e;
        font-weight: 700;
        margin-bottom: 5%;
    }

    &__list {
        list-style: none;
        padding: 0;
    }
    
    &__item {
        font-size: 18px;
        margin-bottom: 2.2%;
    }
}
@media (max-width: $desktop-width) {
    .deal__list {
        font-size: 14px;
    }
    .deal__sign {
        font-size: 40px;
        top: 10%;
    }
    .deal__value {
        font-size: 55px;
    }
}

@media (max-width: $tablet-width) {
    .deal__list {
        font-size: 14px; 
    }
    .deal__item--main {
        position: absolute;
    }
    .deal__item--back:hover, .deal__item--main:hover {
        z-index: 2;
    }

    .deal__list .deal__term {
        background-image: none;
        padding-left: 10%;
    }
    .deal__sign {
        font-size: 24px;
        top: 10%;
    }
    .deal__price-sub-text {
        font-size: 15px;
    }
    .deal__btn {
        font-size: 15px;
    }
    .footer__nav {
        padding: 5% 3% .5% 9%;
        font-size: 14px; 
    }
    .nav {
        flex-wrap: wrap;
        &__block {
            flex-basis: 50%;
        }
        &__address {
            line-height: 22px;
        }
        &__item {
            font-size: 14px;
            margin-bottom: 0;
            line-height: 27px;
        }
    }
}
@media (max-width: 460px) {
    .nav__block {
        flex-basis: 100%;
    }

}