@import "../variables/colors";
@import "../mixins/text";
@import "../variables/resolution";

@media (max-width: $mobile-width-only) {
	.intro {
		max-width: 75%;
		margin-top: 10%;

		&__service {
			margin-bottom: 5%;
		}
	}
	h1 {
		font-size: 35px;
	}
}
.intro {
	margin-top: 6%;
  padding: 0 12%;
  max-width: 43%;

  &__text {
  	@include small-text;
  	color: #000;
  	padding-bottom: 3%;
  }
  &__service {
  	margin-right: 2%;
  	padding: 15px 45px;
  }
  &__signup {
  	padding: 15px 45px;
  }
}
h1 {
	@include bold-text;
}